<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.exthmui.game"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />

    <application
        android:name=".GamingModeApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/game_space"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubSettingsBase"
        tools:ignore="AllowBackup">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.GamingBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="exthmui.intent.action.GAMING_MODE_ON" />
                <action android:name="exthmui.intent.action.GAMING_MODE_OFF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GamingService"
            android:exported="false" />

        <service android:name=".services.DeviceStateListenerService"
            android:exported="false" />

        <service
            android:name=".services.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>